IAM_DATABASE_URL="postgres://platformik-user:platformik-password@127.0.0.1:52000/platformik?sslmode=disable"
AUTH_BASE_URL=http://localhost
AUTH_SECRET=put-secret-here
CLIENT_ORIGIN=http://localhost:5173
