BFF_PORT=3000
BFF_BASE_URL=http://localhost:3000
IAM_DATABASE_URL="postgres://platformik-user:platformik-password@127.0.0.1:52000/platformik_iam?sslmode=disable"
WORKFLOWS_DATABASE_URL="postgres://platformik-user:platformik-password@127.0.0.1:52000/platformik_workflows?sslmode=disable"
AUTH_BASE_URL=http://localhost
AUTH_SECRET=put-secret-here
CLIENT_ORIGIN=http://localhost:5173
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=platformik-ai
WORKFLOWS_GRPC_ADDRESS=localhost:50051
WORKFLOWS_REDIS_URL=redis://127.0.0.1:52001
