.DS_Store
.idea/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/

# Node
node_modules/
.turbo/
dist/
build/

# Ts
**/*.tsbuildinfo

# SvelteKit generated
.svelte-kit/

# Moon
.moon/cache/
.moon/cache/**
**/.moon/cache

# OS/temp
*.log
tmp/

# Secrets
.env
.env.local
.env.*.local
.mise.local.toml

# Eslint
.eslintcache

# Moon build artifacts
tooling/eslint/plugin-module-boundaries.js
